
.mainnav {
    position: relative;
}

/* Must use left: -bugnum em; (instead of display: none) to fix a bug in IE7,
 * where it would show the border for a sub-list that is not shown, after it
 * was shown before 
 *
 * works okay in other browsers too, just a little less clear in meaning.*/
.mainnav ul {
    position: absolute;
    left: -1000em;
    display: block;
}

.mainnav a {
    text-decoration: none;
    line-height: 24px;
    padding: 0 10px;
    padding-right: 25px;
    display: block;
    color: black;
    background: #f2f2c2;
}

.mainnav a:hover,
.mainnav li:hover > a {
    color: black;
    background: #cc9933;
}

.mainnav,
.mainnav ul {
    margin: 0;
    padding: 0px 1px;
    list-style-type: none;
    white-space:nowrap;
}

.mainnav ul {
    border: 1px solid black;
}

.mainnav li {
    background: red;
    left: 100%;
}

.mainnav li:hover > ul {
    left: 100%;
    margin-top: -25px;
    margin-left: -4px;
}

