
.mainnav {
    position: relative;
}

.mainnav ul {
    position: absolute;
    left: 100%;
    display: none;
}

.mainnav a {
    text-decoration: none;
    line-height: 24px;
    padding: 0 10px;
    padding-right: 25px;
    display: block;
    color: black;
    background: #f2f2c2;
}

.mainnav a:hover,
.mainnav li:hover > a {
    color: black;
    background: #cc9933;
}

.mainnav,
.mainnav ul {
    margin: 0;
    padding: 0px 1px;
    list-style-type: none;
    white-space:nowrap;
}

.mainnav ul {
    border: 1px solid black;
}

.mainnav li {
    display: inline;
}

.mainnav li:hover > ul {
    display: block;
    margin-top: -25px;
    margin-left: -4px;
}
