/* Trigger non-standard IE hasLayout for certain objects.
 * Sometimes makes IE behave better, especially IE 6 */
#extracol,
#navwrap,
#news li,
#contentwrapper,
#fauxcolbgR,
.containfloats {
    zoom: 1;
}

/* For whatever reason, the flyout only works correctly in IE7
 * if .mainnav is absolutely positioned.  Stupid IE.
 */
#navcol {
    position: relative;
    padding-top: 20em; /* move content of navcol down to make room for
                           absolutely positioned .mainnav */
}

.mainnav {
    position: absolute !imporant;
    left: 10px;
    top: 10px;
}
