html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, var, form, fieldset, blockquote {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
}

abbr,
acronym {
    border-bottom: 1px dashed black;
}

blockquote {
    margin-left: 0.75em;
    padding-left: 0.75em;
    border-left: 1px dotted black;
}

ol {
    margin-left: 1.4em;
    list-style: decimal;
}

ul {
    margin-left: 1.4em;
    list-style: square;
}

img {
    border: 0;
}

body {
    color: #000;
    background: #cc9933;
    
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    min-width: 580px;
}

#content {
    font-family: georgia, serif;
    font-size: 14px;
}

#content p {
    margin: 10px 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: .5em;
    margin-bottom:.5em;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.15em; }
h5 { font-size: 1.0em; }
h6 { font-size: 0.8em; }

a,
a:link,
a:visited {
    color: #654c19;
}

a:hover {
    text-decoration: none;
}

#header {
    height: 130px;
    background: transparent url("../images/goban_bg.png") no-repeat;
    background-position: top right;

    margin-top: -1px;
    border-top: 1px solid white;
}

#ie6note {
    width: 250px;
    height: 30px;
    color: white;
    background: black;
    position: absolute;
    left: 150px;
    top: 10px;
    padding: 5px;
    text-align: center;
}

#ie6note h2 {
    margin: 5px auto;
    color: red;
}

#ie6note a {
    color: red;
}

#logo {
    margin: 0;
    padding: 0;
    float: left;
    border: 0;
}

#logo img {
    padding: 0;
    margin: 5px;
    margin-bottom: 0;
}

#navwrap {
    height: 16px;
    margin-top: 100px;
    padding: 6px 0;
    background: black;
    border: 1px solid black;
    display: block;
}

.navbar {
    float: right;
    list-style-type: none;
    font-size: 14px;
}

.navbar li {
    display: inline;
    padding: 0 7px;
    border-left: 1px solid white;
}

.navbar li:first-child {
    border-left: 0;
}

.navbar a,
.navbar a:link,
.navbar a:visited {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family:verdana, arial, helvetica, sans-serif;    
}

.navbar a:hover {
    text-decoration: underline;
}

.mainnav {
    font-size: 1.4em;
    margin: 0;
}

.mainnav li {
    font-variant: small-caps;
    list-style-type: none;
}

.mainnav li li {
    font-size: .9em;
}

.mainnav li li li {
    font-size: .75em;
}

.mainnav ul {
    padding-left: 1.5em;
    margin: 0;
}

.mainnav .opener {
    cursor: default;
}

.mainnav a,
.mainnav .opener {
    display: block;
    text-decoration: none;
    padding: 5px 0px 5px 10px;
    color: #000;
}

.mainnav a:hover {
    text-decoration: underline;
}

#sitesearch {
    width: 150px;
    margin: 0 auto;
    margin-top: 30px;
    display: block;
}

#searchbox {
    width: 130px;
    margin: 0 auto;
    padding-left: 20px;
    background: white url('../images/search.png') no-repeat 2px center;
    color: black;
    display: block;
    border: 1px solid black;
}

#searchbutton {
    display: block;
    margin: 2px auto;
    width: 5em;
}

#content h1, h2, h3, h4, h5, h6 {
    font-family: verdana, arial, helvetica, sans-serif;
}

#extracol #newsHL {
    border-bottom: 1px solid green;
    margin: 0px;
    margin-top: 10px;
    padding: 10px;
    padding-top: 0;
    text-align: center;
    font-size: 1.5em;
}

#news {
    list-style-type: none;
    margin: 0;
    margin-bottom: 30px;
}

#news li {
    border-bottom: 1px solid green;
}

#news a {
    text-decoration: none;
    color: #000;
    display: block;
    margin: 0;
    padding: 10px 5px;
}

#news .rss {
    background-image: url('../images/rss.png');
    background-repeat: no-repeat;
    background-position: 10px center;
}

#news a:link,
#news a:visited {
    color: #000;
    text-decoration: none;
}

#news a:hover {
    background-color: #c93;
}

#news a:hover span {
    text-decoration: underline;
}

#news span {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

#footer {
    clear: both;
    display: block;
    text-align: center;
    padding: 5px;
    color: white;
    border: 1px solid black;

    background: black;
}

#footer p {
    margin: 0;
    padding: 0;
}

/* these tags are needed for strict HTML verification, but shouldn't really
 * change the displayed result usually */
legend { display: none; }
fieldset { border: 0; margin: 0; padding: 0; }

/* very useful, ensures that a container with this class will enlarge
 * to keep floats contained inside it */
.containfloats:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

